/FASTBuildMonitorVSIX/.vs/
*.csproj.user

/FASTBuildMonitorVSIX/FASTBuildMonitorStandalone/bin
/FASTBuildMonitorVSIX/FASTBuildMonitorVSIX/bin
/FASTBuildMonitorVSIX/FASTBuildMonitorVSIX/lib
/FASTBuildMonitorVSIX/FASTBuildMonitorVSIX/obj
/FASTBuildMonitorVSIX/FASTBuildMonitorStandalone/obj
